<% content_for :title, "Editing article" %>

<h1 class="text-center mt-4">Edit user information</h1>

<%= render "form", user: @user %> 

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>



