<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Hatice Çelik Linkedin", "https://www.linkedin.com/in/celikkhatice/", class:"text-white" %> </small>
  </div>
</footer>